.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 0.5px solid #34495e;
  margin: 90px auto;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
}

.Weather h1 {
  text-align: center;
  color: #34495e;
  font-size: 55px;

  line-height: 30px;
  margin: 40px 0 30px 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #34495e;
  font-size: 18px;

  line-height: 20px;
  list-style: none;
}

.Weather .temperature {
  text-align: center;
  font-size: 35px;
  margin-right: 5px;
}

.Weather .unit {
  text-align: center;
  font-size: 35px;
}

.Weather .temp-value {
  color: #34495e;
  margin: 15px 0;
}
